@charset "utf-8";
/* CSS Document */
body{ 
	font-size:14px; 
	background:#fff; 
	font-family:"FZLanTingHei-L-GBK","GothamBook","helvetica","arial","Microsoft Yahei","微软雅黑",sans-serif;
	width:100%; 
	overflow-x:hidden;
	overflow-y: auto;
}
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,
em,a,fieldset,legend,address,label,textarea,select,input,figure,
table,th,td,b,i{
	margin:0;padding:0; 
}

.hy-main input[type=text]:focus,.hy-main input[type=password]:focus,.hy-main textarea:focus{
	 transition:border linear .2s,box-shadow linear .5s;
	 -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
	 -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
	 outline:none;
	 border-color:rgba(140,215,255,.75);
	 box-shadow:0 0 8px rgba(140,215,225,.5);
	 -moz-box-shadow:0 0 8px rgba(140,215,225.5);
	 -webkit-box-shadow:0 0 8px rgba(140,215,225,3);
}
fieldset,img{
	border:0;
}
ul,li{
	list-style:none;
}
em,i{
	font-style:normal;
}
table{
	border-collapse:collapse;border-spacing:0;
}
a{
	text-decoration:none; 
	color:#666;
}
a:hover{
	text-decoration:none; color:#f00f12;
}
a:focus,input,button,select,textarea{
	outline:none;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%; 
 	font-variant: normal;
 	font-weight: normal;
}
input,select,img{ 
	vertical-align:middle;
}
legend{ 
	display:none;
}
textarea{
	resize:none;
}


.clear{ 
	clear:both;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	clear:both; 
	content:"";
	display:block;
	height:0;
	line-height:0;
	visibility:hidden;
}

.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mr10{ margin-right:10px;}
.pt10{ padding-top:10px;}
.fl{ float:left;}
.fr{ float:right;}
.tr{ text-align:right;}
.tl{ text-align: left;}
.ov{ overflow:hidden;}
.rel{ position:relative;}
.tc{ text-align:center;}
.none{ display:none;}
.block{ display:block;}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ddd;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ddd;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ddd;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ddd;
}


/*首页*/
.wrap1000 {
	width: 100%;
}
.header {
	width: 100%;
	max-width: 1920px;
	position: relative;
	margin: 0 auto;
}
.header-content {
	height: 90px;
	width: 1200px;
	margin: 0 auto;
}
.logo {
	width: 312px;
	height: 105px;
	margin-top: 20px;
	/*position: absolute;
	left: 80px;
	top: 22px;*/
}
.logo img {
	width: 100%;
	height: 100%;
}
.nav-bar {
	width: 710px;
	padding-left: 60px;
	margin: 0 auto;
}
.nav-bar ul {
	width: 100%;
}

.nav-bar li {
	float: left;
	width: 25%;
}
.nav-bar li:last-child {
	padding: 0px;
}
.nav-bar li > a  {
	display: block;
	width: 100%;
	position: relative;
	color: #333;
	font-size: 32px;
	line-height: 150px;
	text-align: center;
}
.account {
	margin-top: 20px;
}
.account .account-btn {
	display: block;
	width: 156px;
	height: 76px;
	border: 1px solid #cc2e37;
	color: #cc2e37;
	line-height: 76px;
	text-align: center;
	-webkit-border-radius: 6px;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size: 32px;
}
.language {
	margin-top: 50px;
	margin-left: 10px;
	font-size: 20px;
}
.broadcast ,
.flexslider {
	width: 100%;
	margin: 0 auto;
}
.main {
	margin: 0 auto;
	overflow: hidden;
}
.main,.quotation,
.download,.information{
	margin: 0 auto;
}
.download {
	width: 100%;
}
.main h2 {
	width: 100%;
	text-align: center;
	font-size: 52px;
	color: #cc2e37;
}
.download {
	padding: 76px 112px 112px;
}
.download-pic {
	width: 48%;
	height: 580px;
}
.download-pic img {
	width: 100%;
}
.download-main {
	margin-top: 90px;
}
.download-text {
	margin-left: 43px;
	width: 46%;
	margin-top: 46px;
}
.download-text > p {
	text-indent: 2em;
	color: #333;
	font-size: 28px;
	line-height: 1.8;
}
.download-link {
	display: block;
	margin: 90px auto;
	width: 492px;
	height: 92px;
	border: 2px solid #cd2c24;
	color: #ce3840;
	font-size: 38px;
	text-align: center;
	line-height: 92px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.information {
	margin-top: 60px;
	padding: 0 110px 150px;
}
.info-main {
	margin-top: 70px;
}
.calendar {
	width: 43%;
}
.calendar-title {
	width: 100%;
	position: relative;
}
.calendar-title .more ,
.hot-info-title .more {
	color: #999;
	font-size: 26px;
	position: absolute;
	right: 5px;
	top: 10px;
}
.calendar-title .more::after,
.hot-info-title .more::after {
	position: absolute;
	content: '>>';
	top: 5px;
	left: 60px;
}
.calendar-title > h3,
.hot-info-title > h3 {
	color: #002e40;
	font-size: 40px;
}
.calendar-detail {
	margin-top: 48px;
}
.calendar-detail li {
	float: left;
	width: 20%;
	padding-bottom: 10px;
	cursor: pointer;
}
.calendar-detail li > span {
	color: #999;
	width: 100%;
	display: block;
	text-align: center; 
	font-size: 24px;
}
.calendar-detail .calendar-active {
	border-bottom: 2px solid #cc2e37;
}
.calendar-detail .calendar-active span {
	color: #cc2e37;
}
.info-detail {
	width: 100%;
}
.info-detail li {
	padding: 27px 0;
	color: #333;
	border-bottom: 1px solid #d2d2d2;
	padding-left: 28px;
}
.circular {
	width: 98px;
	height: 98px;
	border: 1px solid #999;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: relative;
}
.circular > span {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	background: #cd2c24;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.info-time {
	padding: 0 45px;
	font-size: 26px;
}
.info-data {
	font-size: 26px;
}
.info-data > p {
	padding-bottom: 30px;
}
.info-data .forecast {
	margin-right: 75px;
}
.hot-info {
	width: 48%;
	margin-left: 120px;
}
.hot-info-title {
	width: 100%;
	position: relative;
}
.hot-info-main {
	margin-top: 28px;
}
.hot-info-main li {
	position: relative;
	padding: 28px 0 28px 18px;
	border-bottom: 1px solid #d2d2d2;
}
.hot-info-pic {
	width: 200px;
	height: 140px;
}
.hot-info-pic img {
	width: 100%;
}
.hot-info-detail {
	width: 75%;
	color: #333;
	font-size: 30px;
	padding-left: 25px;
}
.hot-info-detail > p {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.hot-info-detail span {
	color: #999;
	font-size: 24px;
	right: 25px;
	bottom: 30px;
	position: absolute;
}
.footer {
	background: #002e40;
	margin:  0 auto;
	margin-bottom: 3px;
}
.footer-inline {
	padding: 40px 0 0 100px;
}
.footer-inline h4 {
	color: #fff;
	font-size: 38px;
}
.tip {
	width: 33%;
	padding-left: 60px;
	position: relative;
	margin-right: 205px;
}
.icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url(../images/home/tip.png) no-repeat;
	background-size: contain;
	position: absolute;
	left: 0px;
	top: 0px;  
}
.tip > p {
	margin-top: 10px;
	color: #999;
	font-size: 22px;
	line-height: 1.8;
}
.notes {
	margin-right: 200px;
}
.notes ul,
.contact ul {
	margin-top: 40px;
}
.notes li a{
	display: block;
	color: #999;
	font-size: 22px;
	padding-bottom: 20px;
}
.contact li {
	color: #999;
	font-size: 22px;
	padding-bottom: 20px;
}
.quotation {
	padding: 0 98px;
}
.quotation h2 {
	margin-top: 98px;
	margin-bottom: 62px;
}
.quotation-type {
	width: 100%;
	border-bottom: 1px solid #d2d2d2;
}
.quotation-type li {
	float: left;
	width: 20%;
	font-size: 34px;
	color: #999;
	height: 86px;
	line-height: 86px;
	text-align: center;
	cursor: pointer;
	z-index: 1000;
}
.quotation-type .active {
	color: #002e40;
	position: relative;
}
.quotation-type .active::after {
	color: #002e40;
	left: 0;
	bottom: 0;
	content: '';
	width: 100%;
	position: absolute;
	background: #002e40;
	height: 2px;
}
.data-range {
	margin-left: 65px;
	margin-right: 90px;
	margin-top: 80px;
}
.data-range li {
	width: 100%;
	padding-bottom: 130px;
}
.data-range li span {
	color: #999;
	font-size: 28px;
	vertical-align: middle;
}
.data-range li em {
	color: #22ac38;
	font-size: 30px;
	position: relative;
	vertical-align: middle;
}
.data-range .arrow {
	display: inline-block;
	width: 0px;
	height: 0px;
	border: 15px solid transparent;
	-webkit-border-bottom-color: 20px solid #22ac38;
	border-bottom: 20px solid #22ac38;
	vertical-align: text-bottom;
	margin-left: 5px;
}
#charts {
	width: 600px;
    height: 400px;
}

#circle {
	 width: 325px;
	 height: 425px;
}
.chart-wrap {
	width: 100%;
}
.marquee {
	width: 100%;
	height: 60px;
	background: #f8f1dd;
	position: relative;
}
.marquee li {
	font-size: 26px;
	line-height: 60px;
	display: inline-block;
	margin-left: 10px;
}
.colorB {
	color: #2a5769;
}
.colorG {
	color: #22ac38;
}
.colorR {
	color: #cd2c24;
}
@media screen and (max-width: 1400px) {
	.header-content {
		height: 100px;
	}
	.logo {
		width: 200px;
		height: 67px;
		top: 15px;
	}
	.nav-bar li > a {
		font-size: 20px;
		line-height: 100px;
	}
	.account .account-btn {
		width: 100px;
		height: 50px;
		font-size: 16px;
		line-height: 50px;
	}
	.language {
		font-size: 14px;
	}
	.main h2 {
		font-size: 32px;
	}
	.download-main {
		margin-top: 50px;
	}
	.download-pic {
		/*width: 600px;*/
		height: auto;
	}
	.download {
		padding: 50px 80px 60px;
	}
	.download-text > p {
		font-size: 20px;
	}
	.download-link {
		margin: 50px auto;
		width: 400px;
		height: 80px;
		line-height: 80px;
		font-size: 28px;
	}
	.information {
		margin-top: 0px;
		padding: 0 80px 60px;
	}
	.hot-info {
		margin-left: 60px;
	}
	.calendar-title > h3, .hot-info-title > h3 {
		font-size: 28px;
	}
	.calendar-title .more, .hot-info-title .more{
		font-size: 18px;
	}
	.calendar-title .more::after, .hot-info-title .more::after{
		left: 42px;
	}
	.calendar-detail li > span {
		font-size: 18px;
	}
	.circular {
		width: 70px;
		height: 70px;
	}
	.circular > span {
		width: 40px;
		height: 40px;
		margin-left: -20px;
		margin-top: -20px;
	}
	.info-main {
		margin-top: 40px;
	}
	.info-detail li {
		padding-left: 13px;
	}
	.info-time {
		font-size: 18px;
	}
	.info-data {
		font-size: 18px;
	}
	.hot-info-pic {
		width: 160px;
		height: auto;
	}
	.hot-info-detail {
		width: 65%;
		font-size: 20px;
	}
	.hot-info-detail span {
		font-size: 18px;
	}
	.hot-info-main li {
		padding-bottom: 23px;
	}
	.footer-inline h4 {
		font-size: 24px;
	}
	.tip {
		margin-right: 190px;
	}
	.footer-inline {
		padding: 40px 0 0 60px;
	}
	.icon {
		width: 30px;
		height: 30px;
		left: 16px;
		top: 5px;
	}
	.tip > p {
		font-size: 16px;
		line-height: 2.2;
	}
	.notes li a,
	.contact li {
		font-size: 16px;
	}
	
	#circle {
		width: 280px;
		height: 400px;
	}
	.data-range {
		margin-left: 45px;
	    margin-right: 50px;
	    margin-top: 40px;
	}
	.data-range li {
		padding-bottom: 80px;
	}
	.data-range li span {
		font-size: 20px;
	}
	.data-range li em {
		font-size: 22px;
	}
	.data-range .arrow {
		border: 10px solid transparent;
		border-bottom: 15px solid #22ac38;
	}
	.quotation-type li {
		font-size: 22px;
	}
	.quotation h2 {
		margin-top: 50px;
		margin-bottom: 40px;
	}
	.quotation {
		padding: 0 80px;
	}
	.quotation-type li {
		height: 66px;
		line-height: 66px;
	}
	.marquee {
		height: 40px;
	}
	.marquee li {
		line-height: 40px;
		font-size: 20px;
	} 
}
@media screen and (max-width: 1024px) {
	.wrap1000 {
		width: 1200px;
	}
	#charts {
		width: 480px;
		height: 400px;
	}
}